<div class="container">
      <h3>Click on This Button to copy text</h3>
      <div class="input-grup">
        <mat-form-field>
          <mat-label>Text</mat-label>
          <input
            matInput
            [(ngModel)]="text1"
            placeholder="Content to be copied"
          >
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="button"
          ngxClipboard
          [cbContent]="text1"
          (cbOnSuccess)="isCopied1 = true"
          (cbOnError)="onCopyFailure()"
          [class.btn-success]="isCopied1"
        >Copy</button>

      </div>
</div>
