<form action="">
  <h2>File Upload Example</h2>
  <mat-form-field>
    <div>
      <mat-toolbar>
        <input matInput [(ngModel)]="fileAttr" readonly name="name">
        <button mat-flat-button color="primary">Browse file</button>
      </mat-toolbar>
      <input
        type="file"
        #fileInput
        id="uploadFile"
        (change)="uploadFileEvt($event)"
        name="uploadFile"
        multiple="multiple"
        accept="image/*"
      >
    </div>
  </mat-form-field>
</form>

<router-outlet></router-outlet>
